<div class="mtop160 plr151 plr20-mob m0a mw1440">
  <div class="mw650">
    <h1>Want to Collaborate?</h1>
    <div class="mbot50">
      <span
        >Fill out your info and
        <span class="fuschia-c fwb">Hulk smash</span> that pink button.</span
      >
    </div>
    <h5>Name</h5>
    <input class="mbot25 w265" type="text" id="name" name="name" />
    <h5>Email</h5>
    <input class="mbot25 w265" type="text" id="email" name="email" />
    <h5>How can I help?</h5>
    <textarea
      id="response"
      name="w3review"
      class="w100 mbot25"
      rows="5"
      cols="50"
      placeholder="A cheeky placeholder text"
    >
    </textarea>
    <div class="mr-20" fxLayout="row" fxLayoutAlign="end center">
      <div class="trigger cp pr z1 w163 mbot50">
        <div class="input cp">
          <label class="cp">Contact Me!</label>
        </div>
        <div class="overlay cp"></div>
      </div>
    </div>
  </div>
</div>
