<div class="mtop160 plr10 m0a mw1440">
  <div class="mw600">
    <h1>Want to Collaborate?</h1>
    <div class="mbot50">
      <span>Fill out your info and Hulk smash that pink button.</span>
    </div>
    <h3>Name</h3>
    <input class="mbot50 w200" type="text" id="name" name="name" />
    <h3>Email</h3>
    <input class="mbot50 w200" type="text" id="email" name="email" />
    <h3>How can I help?</h3>
    <textarea
      id="response"
      name="w3review"
      class="w100 mbot10"
      rows="15"
      cols="50"
      placeholder="A cheeky placeholder text"
    >
    </textarea>
    <div fxLayout="row" fxLayoutAlign="end center">
      <div class="trigger cp pr z1 w163 mbot50">
        <div class="input cp">
          <label class="cp">Contact Me!</label>
        </div>
        <div class="overlay cp"></div>
      </div>
    </div>
  </div>
</div>
