<div class="mtop160 mtop100-mob m0a">
  <div class="ptb50 mbot75 plr151 plr20-mob mw1064 mbot50-mob m0a">
    <div class="aero-bc w100 p20" fxLayout="row" fxLayoutAlign="center center">
      <img
        class="w100"
        src="/assets/images/collectibles/CG-cover-casestudy.png"
      />
    </div>
  </div>

  <div class="mw1064 m0a mbot100 plr151 plr20-mob">
    <h1 class="mbot10">Collectibles & Games:</h1>
    <h1 class="mbot50 black-ink-200-c">
      Designing a Responsive Ecommerce Site
    </h1>
    <div
      class="w100 mbot100"
      fxLayout="row"
      fxLayoutAlign="space-between start"
    >
      <div class="w100 mw900 mr150 mr0-mob" fxLayout="column">
        <h3 class="mbot10">Overview:</h3>
        <p class="mbot10">
          Collectible and Games (CG) is a newly established small business that
          specializes in selling Yu-Gi-Oh cards. They previously sold using a
          third-party marketplace site. But with an increase in sales, the
          stakeholders wanted to have their own responsive e-commerce site.
        </p>
        <p class="mbot10">
          Though CG specializes in Yu-Gi-Oh, they have a five-year plan where
          the goal is to expand product inventory outside of Yu-Gi-Oh. With this
          said, they wanted a site that would be easily adaptable for future
          expansion.
        </p>
        <h3 class="mbot10">The problem:</h3>
        <p class="mbot10">
          CG is unable to control its product cost due to using a third-party
          marketplace site. Ultimately negatively impacting revenue and business
          growth.
        </p>
        <h3 class="mbot10">The solution:</h3>
        <p class="mbot10">
          Create a responsive e-commerce site and begin establishing a brand
          identity.
        </p>
        <h3>Role:</h3>
        <span class="h3 fuschia-c"> UX Designer</span>
      </div>
    </div>
  </div>

  <div class="aero-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Research</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        Stakeholder interviews, competitor analysis, and user interviews were
        conducted. These were done to better understand the business goals, the
        problem, and possible solutions.
      </p>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      To understand the business and the business goals, I conducted interviews
      with the stakeholders. I needed to get a better grasp of what the product
      they would be selling, why they no longer wanted to use a third-party
      site, and what they envisioned for the brand.
    </p>
    <div
      class="w100 mbot50"
      fxLayout="column
    "
      fxLayoutAlign="center center"
    >
      <a
        href="/assets/images/collectibles/CG-Stakeholder-Affinity-fixed.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/collectibles/CG-Stakeholder-Affinity-fixed.png"
        />
      </a>
    </div>

    <div
      class="w100 mw1064 m0a"
      fxLayout="column
      "
      fxLayoutAlign="center center"
    >
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
        <div class="w50" fxLayoutAlign="center center">
          <img
            class="w50 w80-mob mbot50-mob"
            src="/assets/images/collectibles/goals-svg.svg"
          />
        </div>
        <div class="w50 w100-mob" fxLayout="column">
          <div fxLayout="row">
            <img class="p20" src="/assets/images/collectibles/Dice-svg.svg" />
            <p>
              <i
                >Create a responsive, ecommerce site to cutout the “middle-man”.
              </i>
            </p>
          </div>
          <div fxLayout="row">
            <img class="p20" src="/assets/images/collectibles/Dice-svg.svg" />
            <p>
              <i
                >Begin establishing a brand identity for Collectibles and Games.
              </i>
            </p>
          </div>
          <div fxLayout="row">
            <img class="p20" src="/assets/images/collectibles/Dice-svg.svg" />
            <p>
              <i
                >Design a site that would be easily adapatable for future
                expansion.
              </i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      After getting a clearer picture of the business and the stakeholders’
      goals, it was time to initiate a competitor analysis. I analyzed the UI,
      the features, and the products offered.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/collectibles/CG-Competitor-Analysis-Chart.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/collectibles/CG-Competitor-Analysis-Chart.png"
        />
      </a>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      Now that I had a better understanding of the product and our competitors,
      I wanted to further empathize with the users. I interviewed Yu-Gi-Oh
      hobbyists. I questioned their buying process, their goals, and their pain
      points. After the research, I crafted Drew for our user persona.
    </p>
    <div class="mbot50" fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/collectibles/Updated-CG-Persona.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/collectibles/Updated-CG-Persona.png"
        />
      </a>
    </div>
    <p class="pc">
      Users are concerned with ensuring quality, getting the best price, and
      buying from a trusted seller. During the interviews, I was surprised by
      the amount of research users do before making a purchase. These users do
      not just view Yu-Gi-Oh as a card game but as an investment.
    </p>
  </div>

  <div class="aero-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Mapping and Flows</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        Using the information I gathered through research, I drafted a product
        roadmap. I then created a site map and a user flow of the checkout
        process.
      </p>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      Using the MoSCoW method, I was able to determine what pages were a
      must-have to deliver an MVP. The must-have pages included a landing page,
      the product page, and a filtering system specific to Yu-Gi-Oh.
    </p>
    <div class="mbot100" fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/collectibles/Product-Roadmap-1.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/collectibles/Product-Roadmap-1.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      With knowing what pages were a priority, I was able to make a site map.
      The site map helped establish the information architecture of the site.
    </p>
    <div class="mbot100" fxLayout="row" fxLayoutAlign="center center">
      <a href="/assets/images/collectibles/CG-SiteMap.png" target="_blank">
        <img
          class="w100 mw1064"
          src="/assets/images/collectibles/CG-SiteMap.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      I found it necessary to create a user flow centered around the checkout
      process due to this being an e-commerce site. I thought outside of the MVP
      and included nodes that referenced future design ideas gathered from
      research. I.e. the ability to request a specific product.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/collectibles/Iterated-CG-User-Flow.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/collectibles/Iterated-CG-User-Flow.png"
        />
      </a>
    </div>
  </div>

  <div class="aero-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Ideating</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        To start establishing a brand identity, I started logo creation,
        choosing brand colors, and typography. I also started to sketch and
        build out lo-fi wireframes.
      </p>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      With the brand planning on future expansion, I explored a multitude of
      ideas ranging from wordmarks to pixel art. Below are a few drafted ideas.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column">
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayout.lt-md="column"
        class="mw1064"
      >
        <img class="w20" src="/assets/images/collectibles/CG-logo-idea.gif" />
        <img
          class="w29"
          src="/assets/images/collectibles/Webp.net-gifmaker-2.gif"
        />
        <img
          class="w29"
          src="/assets/images/collectibles/Webp.net-gifmaker-3.gif"
        />
      </div>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      While continuing to collaborate with the stakeholders to nail down their
      brand vision, I began working on lo-fi wireframing. We knew the site was
      going to be product heavy, therefore, product-focused. With that in mind,
      I sketched out some lo-fi mobile wireframes.
    </p>
    <div>
      <img class="w29" src="/assets/images/collectibles/CG-pencil-fixed.png" />
    </div>
    <div class="mw1064 m0a">
      <a
        href="/assets/images/collectibles/wireframe-sketches.png"
        target="_blank"
      >
        <img
          class="w100"
          src="/assets/images/collectibles/wireframe-sketches.png"
        />
      </a>
    </div>
    <div class="w100 mbot50" fxLayout="row" fxLayoutAlign="end center">
      <img
        class="w29 tsx-1"
        src="/assets/images/collectibles/CG-pencil-fixed.png"
      />
    </div>
    <p class="pc mbot50">
      After sketching some variations, it was time to execute some wireframes
      using Figma. The goal was to get the bare bones for the site laid out.
      How, what, and where the content would fit and look on the site.
    </p>
    <div
      class="mw1064 m0a"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign.lt-md="start center"
      fxLayoutAlign="center start"
    >
      <a href="/assets/images/collectibles/CCG-Mobile-Home.png" target="_blank">
        <img
          class="mr25"
          src="/assets/images/collectibles/CCG-Mobile-Home.png"
        />
      </a>
      <a
        href="/assets/images/collectibles/CCG-Mobile-Product-Page.png"
        target="_blank"
      >
        <img
          class="mr25"
          src="/assets/images/collectibles/CCG-Mobile-Product-Page.png"
        />
      </a>
      <a
        href="/assets/images/collectibles/CCG-Mobile-Collection-Page.png"
        target="_blank"
      >
        <img src="/assets/images/collectibles/CCG-Mobile-Collection-Page.png" />
      </a>
    </div>
  </div>

  <div class="aero-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Test and Implement</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        A mid-fidelity prototype was built using Figma and tested with users.
        Based on feedback, iterations were made to make the final hi-fi
        wireframes.
      </p>
    </div>
  </div>

  <div class="mbot100 mw1064 m0a plr151 plr20-mob">
    <p class="mbot50 pc">
      Below is the Figma prototype that was used during user testing. Users were
      prompted to find a single, monster effect card and add it to the cart. The
      goal was to test the effectiveness of the design, the overall flow, and
      the ease of filtering.
    </p>
    <div class="mw1064 m0a mbot100">
      <iframe
        class="cp collectibles-blue-b3 w100"
        width="1000"
        height="1000"
        src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FL0oPswz66u7hDVJmMuxJLR%2FCollectibles-and-Games%3Fnode-id%3D240%253A847%26scaling%3Dscale-down%26page-id%3D240%253A0"
        allowfullscreen
      ></iframe>
    </div>
    <p class="mbot50 pc">
      After completing user testing: I reviewed notes, quantified where I could,
      and grouped feedback accordingly. The testing helped prioritize the
      revisions needed for the final designs.
    </p>
    <div class="m0a mbot100" fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/collectibles/CG-User-Test-Visual.png"
        target="_blank"
      >
        <img
          class="mw1064 w100"
          src="/assets/images/collectibles/CG-User-Test-Visual.png"
        />
      </a>
    </div>

    <p class="pc">
      With user feedback in hand, I was able to sit down with the stakeholders
      to discuss concerns raised from testing and possible solutions. From
      there, I was able to finish the iterations necessary for the final MVP.
    </p>
  </div>

  <!-- <div class="mw1064 m0a mbot100 plr151 plr20-mob">
    <p class="mbot50 pc">
      With user feedback in hand, I was able to sit down with the stakeholders to discuss concerns raised from testing and possible solutions. From there, I was able to finish the iterations necessary for the final MVP.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column">
      <img
        class="w66 ofc mr150 mr0-mob w100-mob mbot50-mob"
        src="/assets/videos/kaus/desktop.gif"
      />
      <img class="w29 ofc w50-mob" src="/assets/videos/kaus/mobile.gif" />
    </div>
  </div> -->

  <div class="aero-bc w100 ptb50 mbot100">
    <h2 class="tac">Key Takeaways</h2>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      <i
        >Visions change and that is okay! But we all agreed with the given
        timeline producing an MVP was the most important. Iterations will
        continue as the brand continues to evolve and expand.</i
      >
    </p>
    <p class="mbot50 pc">
      <i>
        With the project timeline, I should have appropriately allocated more of
        my time to the actual design. For example, I did not anticipate how long
        the filtering system would take to design. Looking back, I would have
        asked the users more questions centered around filtering.
      </i>
    </p>
  </div>
</div>

<div class="mbot175" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="blue-bell-bc mw400 p50 w100">
    <h3 class="mbot10 tac">Watchlist</h3>
    <p class="mbot10 tac">
      Designing a social application for entertainment lovers.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="input2 cp" (click)="gotoUrl('/projects/watch-list')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>
  <div class="cotton-candy-bc mw400 p50 w100">
    <h3 class="mbot10 tac">Design Lab</h3>
    <p class="mbot10 tac">
      Virtual study room feature that allows for student-to-student interaction.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="input2 cp" (click)="gotoUrl('/projects/design-lab')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>
</div>

<div *ngIf="windowScrolled" class="aero-bc backtotop">
  <svg
    (click)="scrollToTop()"
    width="38"
    height="32"
    viewBox="0 0 38 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20.7678 1.23223C19.7915 0.255922 18.2085 0.255922 17.2322 1.23223L1.32233 17.1421C0.346019 18.1184 0.346019 19.7014 1.32233 20.6777C2.29864 21.654 3.88155 21.654 4.85786 20.6777L19 6.53553L33.1421 20.6777C34.1184 21.654 35.7014 21.654 36.6777 20.6777C37.654 19.7014 37.654 18.1184 36.6777 17.1421L20.7678 1.23223ZM21.5 32L21.5 3L16.5 3L16.5 32L21.5 32Z"
      fill="black"
    />
  </svg>
</div>
