<div class="mtop160 plr151 plr20-mob m0a mw1440">
  <div class="mw900">
    <h1 class="mbot50">My Not-So-Secret Identity</h1>
    <p class="mbot50">
      The name is Wynter (yes, like the season) and I am a
      <span class="fuschia-c fwb p">UX Designer</span>. I am a people enthusiast
      which definitely explains my background in healthcare and degree in
      psychology. I have always had this creative fire that has led to writing
      short stories, exploring local museums, and my love for pop culture. UX
      has united my love for people and my creative passion into an actual
      career. Now here I am tapping into my empathetic nature to create playful,
      delightful, user-centered designs.
    </p>

    <h2 class="mbot50">What I Believe</h2>
    <p class="mbot50">
      Good design comes down to knowing and understanding the user. As a
      designer, I have learned that when in doubt--ask the user. You just have
      to ask the right questions, which is where I come in! My psychology
      background (and my chattiness) has given me a solid foundation in
      conducting research and uncovering user insights. Good research results in
      good design. And establishing an empathetic connection with users?
      Priceless.
    </p>

    <div class="trigger cp pr z1 w163 mbot50" (click)="gotoUrl('/contact')">
      <div class="input cp">
        <label class="cp">Contact Me!</label>
      </div>
      <div class="overlay cp"></div>
    </div>

    <h2 class="mbot50">Super Powers</h2>
    <div class="mbot50">
      <div class="cotton-candy-bc badge mbot10 br20">
        <label>UI Design</label>
      </div>
      <div class="key-lime-bc badge mbot10 br20">
        <label>Sketching</label>
      </div>
      <div class="aero-bc badge mbot10 br20">
        <label>Wireframing</label>
      </div>
      <div class="cotton-candy-bc badge mbot10 br20">
        <label>User Research</label>
      </div>
      <div class="key-lime-bc badge mbot10 br20">
        <label>Persona Creation</label>
      </div>
      <div class="aero-bc badge mbot10 br20">
        <label>User Flows</label>
      </div>
      <div class="cotton-candy-bc badge mbot10 br20">
        <label>Information Architecture</label>
      </div>
      <div class="key-lime-bc badge mbot10 br20">
        <label>Interaction Design</label>
      </div>
      <div class="aero-bc badge mbot10 br20">
        <label>Agile Methodology</label>
      </div>
    </div>
  </div>
</div>
