<div class="mtop160 mtop100-mob m0a">
  <div class="ptb50 mbot75 plr151 plr20-mob mw1064 mbot50-mob m0a">
    <div
      class="cotton-candy-bc w100 p20"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <img
        class="w100"
        src="/assets/images/designlab/designlab-cover-casestudy.png"
      />
    </div>
  </div>

  <div class="mw1064 m0a mbot100 plr151 plr20-mob">
    <h1 class="mbot10">DesignLab:</h1>
    <h1 class="mbot50 black-ink-200-c">
      Creating a feature that allows for student-to-student interaction
    </h1>
    <div
      class="w100 mbot100"
      fxLayout="row"
      fxLayoutAlign="space-between start"
    >
      <div class="w100 mw900 mr150 mr0-mob" fxLayout="column">
        <h3 class="mbot10">Overview:</h3>
        <p class="mbot10">
          DesignLab (DL) was founded in 2013 and is a mentor-led, web design
          boot camp. Their goal: to empower creators to do what they love.
          Currently, they have 9,000+ students enrolled with over an astounding
          300,000+ project submissions. The project-based curriculum includes
          1:1 mentoring, group crits, and growing peer support from the student
          community.
        </p>
        <h3 class="mbot10">The problem:</h3>
        <p class="mbot10">
          Due to Designlab being a virtual education platform (with 9,000+
          students) and the added complication of Covid, students need more peer
          interaction and support. Students have reported struggling with a lack
          of peer social interaction.
        </p>
        <h3 class="mbot10">The solution:</h3>
        <p class="mbot10">
          Design a feature that addresses the need for more student-to-student
          interaction.
        </p>
        <h3>Role:</h3>
        <span class="h3 fuschia-c"> UX Designer</span>
      </div>
    </div>
  </div>

  <div class="cotton-candy-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Research</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        Open-ended interviews were conducted with DesignLab students to identify
        and define the problem. Afterward, a survey was created to assess and
        quantify the need.
      </p>
    </div>
  </div>

  <div class="m0a mbot50 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      For this project, the goal was to create a useful feature within the
      student portal. The original idea was to integrate DesignLab's Youtube
      tutorials for convenience to the students. But, I was coming up with a
      solution to a "problem" that I was uncertain needed solving.
    </p>
    <p class="mbot50 pc">
      Taking a few steps back, I arranged open-ended interviews with other
      students. To better visualize the information retained from the
      interviews, I created an empathy map.
    </p>
    <div
      class="w100"
      fxLayout="column
    "
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/designlab/empathy-ap-3.jpg" target="_blank">
        <img
          class="w100 mw1064"
          src="/assets/images/designlab/empathy-ap-3.jpg"
        />
      </a>
    </div>
  </div>

  <div class="m0a mbot50 plr151 plr20-mob mw1064">
    <p class="mbot100 pc">
      It became abundantly clear that students' biggest pain point as virtual
      students was the lack of social interaction. Students reported feeling
      alone, anxious, and isolated.
    </p>
    <p class="mbot50 pc">
      At this point, I had started to identify the problem. But further research
      was necessary to define the problem and the scope. I created surveys to
      quantify and prove the need for a solution.
    </p>
    <div class="mbot50" fxLayout="row" fxLayoutAlign="center center">
      <a href="/assets/images/designlab/piechart.png" target="_blank">
        <img class="w100 mw1064" src="/assets/images/designlab/piechart.png" />
      </a>
    </div>
    <div
      class="mbot50 mw1064 m0a"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a
        class="w50 mr25 mr0-mob"
        href="/assets/images/designlab/bargraph1.png"
        target="_blank"
      >
        <img class="w100 mw1064" src="/assets/images/designlab/bargraph1.png" />
      </a>
      <a
        class="w50"
        href="/assets/images/designlab/bargraph2.png"
        target="_blank"
      >
        <img class="w100 mw1064" src="/assets/images/designlab/bargraph2.png" />
      </a>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/designlab/horizontal-bargraph.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/designlab/horizontal-bargraph.png"
        />
      </a>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot100 pc">
      Just as the open-ended interviews suggested, 60% of students were less
      than satisfied with the amount of student-student interaction they were
      getting. Within the survey, students voted for a virtual study room
      feature that would allow them to collaborate and cowork.
    </p>
    <p class="mbot50 pc">
      Now that I knew what I would be designing- it was time to analyze existing
      third-party solutions.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/designlab/DL-competitoranalysis.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/designlab/DL-competitoranalysis.png"
        />
      </a>
    </div>
  </div>

  <div class="cotton-candy-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Mapping and Flows</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        After research, I need to create a site map and a user flow. This would
        determine where the feature would exist and how students would interact
        with said feature.
      </p>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      Though this deliverable may seem simplistic, it was still necessary to
      figure out where the feature would exist within the portal. How would
      users navigate to their new virtual study rooms?
    </p>
    <div class="mbot100" fxLayout="row" fxLayoutAlign="center center">
      <a href="/assets/images/designlab/iterated-sitemap.png" target="_blank">
        <img
          class="w100 mw1064"
          src="/assets/images/designlab/iterated-sitemap.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      I also needed to start thinking about how users would interact with the
      feature. What steps would users need to take or expect to take? How can I
      simplify the use of this feature for easy student-to-student interaction?
    </p>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <a
        href="/assets/images/designlab/updated-DL-userflow.png"
        target="_blank"
      >
        <img
          class="w100 mw600"
          src="/assets/images/designlab/updated-DL-userflow.png"
        />
      </a>
    </div>
  </div>

  <div class="cotton-candy-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Ideating</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        With a better understanding of the overall flow of the feature, I
        started to draft ideas. I sketched out multiple versions and wireframed
        multiple versions.
      </p>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      After research, I had multiple ideas and variations of the soon-to-be
      feature in mind. So, I grabbed a pencil and my trusty sketchpad and
      started drafting my ideas.
    </p>
    <div
      class="w100 m0a"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <div
        class="w45 w100-mob mr25 mr0-mob mbot25"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <a href="/assets/images/designlab/v1v1-sketch.png" target="_blank">
          <img
            class="w100 mw1064"
            src="/assets/images/designlab/v1v1-sketch.png"
          />
        </a>
      </div>
      <div class="w45 w100-mob" fxLayout="row" fxLayoutAlign="center center">
        <a href="/assets/images/designlab/v3v4-sketch.png" target="_blank">
          <img
            class="w100 mw1064"
            src="/assets/images/designlab/v3v4-sketch.png"
          />
        </a>
      </div>
    </div>
    <div
      class="w100 m0a"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <div
        class="w45 w100-mob mr25 mr0-mob"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <a href="/assets/images/designlab/add-room-sketch.png" target="_blank">
          <img
            class="w100 mw1064"
            src="/assets/images/designlab/add-room-sketch.png"
          />
        </a>
      </div>
      <div class="w45 w100-mob" fxLayout="row" fxLayoutAlign="center center">
        <a
          href="/assets/images/designlab/video-view-sketch.png"
          target="_blank"
        >
          <img
            class="w100 mw1064"
            src="/assets/images/designlab/video-view-sketch.png"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      After sketching some variations, it was time to execute some mid-fi
      wireframes using Figma. The goal was to nail down the format and the
      content.
    </p>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/designlab/V5.png" target="_blank">
        <img class="w100 mw1064" src="/assets/images/designlab/V5.png" />
      </a>
    </div>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/designlab/add-room-form.png" target="_blank">
        <img
          class="w100 mw1064"
          src="/assets/images/designlab/add-room-form.png"
        />
      </a>
    </div>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/designlab/video-view.png" target="_blank">
        <img
          class="w100 mw1064"
          src="/assets/images/designlab/video-view.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      Now that I had wireframes to work with, I needed to present and get more
      user feedback. With the open-ended interviews being so insightful, I
      decided to go full-circle and do it again. With a comprised list of what I
      wanted to assess, it was time to schedule the interviews.
    </p>
  </div>

  <div class="cotton-candy-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Test and Implement</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        A mid-fidelity prototype was built using Figma and tested with users.
        Based on feedback, iterations were completed to make the final hi-fi
        wireframes.
      </p>
    </div>
  </div>

  <div class="mbot100 mw1064 m0a plr151 plr20-mob">
    <p class="mbot50 pc">
      My goal of the open-ended interviews was to get the end-users initial
      feedback and assess certain design features. After receiving feedback from
      users, I comprised and organized the findings and created a priority
      matrix. This helped me visualize what was a priority.
    </p>
    <div class="m0a mbot100" fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/designlab/updated-dl-priority-matrix.png"
        target="_blank"
      >
        <img
          class="mw1064 w100"
          src="/assets/images/designlab/updated-dl-priority-matrix.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      Now, it was time to execute. I implemented feedback that I received and
      iterated my mid-fi wireframes. After completing the final revisions, I
      annotated the screens for further clarity and presentation purposes.
    </p>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/designlab/Annotated-DL-main.png" target="_blank">
        <img
          class="w100 mw1064"
          src="/assets/images/designlab/Annotated-DL-main.png"
        />
      </a>
    </div>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a
        href="/assets/images/designlab/Annotated-DL-createaroom.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/designlab/Annotated-DL-createaroom.png"
        />
      </a>
    </div>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a
        href="/assets/images/designlab/Annotated-DL-feedback.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/designlab/Annotated-DL-feedback.png"
        />
      </a>
    </div>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a
        href="/assets/images/designlab/Annotated-DL-videoview.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/designlab/Annotated-DL-videoview.png"
        />
      </a>
    </div>
  </div>

  <div class="mbot100 mw1064 m0a plr151 plr20-mob">
    <p class="mbot50 pc">
      With the design finalized, it only felt right for me to make a working
      prototype. The prototype shows how users would interact with the new
      feature.
    </p>
    <div class="mw1064 m0a mbot100">
      <iframe
        class="cp collectibles-blue-b3 w100"
        width="1000"
        height="1000"
        src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FjO3zpIb1pLodKY7f0dSt8R%2FCapstone-2%3Fnode-id%3D268%253A10903%26scaling%3Dscale-down%26page-id%3D268%253A6860%26starting-point-node-id%3D268%253A10903"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="cotton-candy-bc w100 ptb50 mbot100">
    <h2 class="tac">Key Takeaways</h2>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      <i
        >Do not get ahead of yourself! I made a noob move and had a “solution”
        before identifying and defining the problem. Research proved that there
        was a more blatant pain point with virtual students. Case in point,
        identify and define the problem before coming up with “solutions”.
      </i>
    </p>
    <p class="mbot50 pc">
      <i>
        Feature creep is real and, I fell victim to it in this project. If I
        could change one thing about my process, it would have done something
        like dot-voting during my ideating phase. This type of user feedback
        would have helped me better prioritize additional features.
      </i>
    </p>
    <p class="mbot50 pc">
      <i>
        Immediately after my ideating phase, I attempted A/B testing on
        variations of my main screen. This testing told me that users prefer a
        “join” CTA button. Not all research has to be super intensive to uncover
        something insightful.
      </i>
    </p>
  </div>
</div>

<div class="mbot175" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="aero-bc mw400 p50 w100">
    <h3 class="mbot10 tac">Collectibles & Games</h3>
    <p class="mbot10 tac">
      Creating an e-commerce site exlcusively for Yu-Gi-Oh hobbyist.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="input2 cp" (click)="gotoUrl('/projects/collectibles')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>
  <div class="key-lime-bc mw400 p50 w100">
    <h3 class="mbot10 tac">Kaus</h3>
    <p class="mbot10 tac">
      Refreshing a brand and designing a resposnive e-commerce site.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="input2 cp" (click)="gotoUrl('/projects/kaus')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>
</div>

<div *ngIf="windowScrolled" class="cotton-candy-bc backtotop">
  <svg
    (click)="scrollToTop()"
    width="38"
    height="32"
    viewBox="0 0 38 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20.7678 1.23223C19.7915 0.255922 18.2085 0.255922 17.2322 1.23223L1.32233 17.1421C0.346019 18.1184 0.346019 19.7014 1.32233 20.6777C2.29864 21.654 3.88155 21.654 4.85786 20.6777L19 6.53553L33.1421 20.6777C34.1184 21.654 35.7014 21.654 36.6777 20.6777C37.654 19.7014 37.654 18.1184 36.6777 17.1421L20.7678 1.23223ZM21.5 32L21.5 3L16.5 3L16.5 32L21.5 32Z"
      fill="black"
    />
  </svg>
</div>
