<div class="mtop160 mtop100-mob m0a">
  <div class="ptb50 mbot125 plr151 plr20-mob mw1440 mbot50-mob m0a">
    <div
      class="cotton-candy-bc w100 p20"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <img
        class="mr150 w45 w35-mob p10-mob mr20-mob"
        src="/assets/images/designlab/DL-main-mockup.png"
      />
      <img
        class="w45 p10-mob"
        src="/assets/images/designlab/DL-videoview-mockup.png"
      />
    </div>
  </div>

  <div class="mw1000 m0a mbot125 plr151 plr20-mob mw1440">
    <h1 class="mbot10">DesignLab: Creating a feature</h1>
    <h1 class="mbot50 black-ink-200-c">
      A feature that allows for more student-to-student interaction
    </h1>
    <div
      class="w100 mbot125"
      fxLayout="row"
      fxLayoutAlign="space-between start"
    >
      <div class="w100 mw900 mr150 mr0-mob" fxLayout="column">
        <h3 class="mbot10">Overview:</h3>
        <p class="mbot10">
          DesignLab (DL) was founded in 2013 and is a mentor-led, web design
          bootcamp. Their goal: to empower creators to do what they love.
          Currently, they have 9,000+ students enrolled with over an astounding
          300,000+ project submissions. The project-based curriculum includes
          1:1 mentoring, group crits, and growing peer support from the student
          community.
        </p>
        <h3 class="mbot10">The problem:</h3>
        <p class="mbot10">
          Due to Designlab being a virtual education platform , with 9,000+
          students, and the added complication of Covid; students’ are needing
          more peer interaction and support. Students have reported struggling
          with lack of peer social interaction.
        </p>
        <h3 class="mbot10">The solution:</h3>
        <p class="mbot10">
          Design a feature that addresses the need for more student-to-student
          interaction.
        </p>
        <h3>Role:</h3>
        <span class="h3 fuschia-c"> UX Designer</span>
      </div>
    </div>
  </div>

  <div class="cotton-candy-bc w100 ptb50 mbot125">
    <h2 class="tac mbot10">Research</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        Open-ended interviews were done with DesignLab students to idenitfy and
        define the probelm. Surveys were then created to assess and quantify the
        need.
      </p>
    </div>
  </div>

  <div class="m0a mbot125 plr151 plr20-mob mw1440">
    <p class="mbot50 pc">
      The project that was given to me was to “add a feature” to an existing
      site. Immediately, I came up with solutions that addressed pain points
      that I expereinced as a DL student. Which was the lack of video tutorial
      integration within the student portal.
    </p>
    <p class="mbot50 pc">
      However, I immediately ran into an issue most UX designers face-I was
      coming up with a solution to a problem I was not sure existed. I had to
      take a couple steps back. What better way than to connect with other
      students and have open-ended interviews.
    </p>
    <p class="mbot50 pc">
      After just two interviews, there were already patterns forming and bigger
      pain points to address. To better visualize the information retained from
      the interviews; I created an empathy map.
    </p>
    <div
      class="w100"
      fxLayout="column
    "
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/designlab/empathy-ap-3.jpg" target="_blank">
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/empathy-ap-3.jpg"
        />
      </a>
    </div>
  </div>

  <div class="m0a mbot125 plr151 plr20-mob mw1440">
    <p class="mbot50 pc">
      It became abundantly clear that students biggest pain point as a virtual
      student was the lack of social interaction. Students reported feeling
      alone, anxious, and isolated.
    </p>
    <p class="mbot50 pc">
      At this point, I had started to idenitfy the problem but further research
      was necessary to define the problem. I then created surveys to quanitfy
      and prove the need for a solution. I even had students offer up their own
      solutions and vote on possible features.
    </p>
    <div class="mbot50" fxLayout="row" fxLayoutAlign="center center">
      <a href="/assets/images/designlab/piechart.png" target="_blank">
        <img class="w100 mw1000" src="/assets/images/designlab/piechart.png" />
      </a>
    </div>
    <div
      class="mbot50 mw1000 m0a"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a
        class="w50 mr25 mr0-mob"
        href="/assets/images/designlab/bargraph1.png"
        target="_blank"
      >
        <img class="w100 mw1000" src="/assets/images/designlab/bargraph1.png" />
      </a>
      <a
        class="w50"
        href="/assets/images/designlab/bargraph2.png"
        target="_blank"
      >
        <img class="w100 mw1000" src="/assets/images/designlab/bargraph2.png" />
      </a>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/designlab/horizontal-bargraph.png"
        target="_blank"
      >
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/horizontal-bargraph.png"
        />
      </a>
    </div>
  </div>

  <div class="m0a mbot125 plr151 plr20-mob mw1440">
    <p class="mbot50 pc">
      Just as the open-ended interviews suggested; 60% of students were less
      than satisfied with the amount of student-student interaction they were
      getting. And the votes were in-students voted for a virtual study room
      feature that would allow for collaborating and coworking.
    </p>
    <p class="mbot50 pc">
      Now that I knew what I would be designing- it was time analyze existing
      third-party solutions. How do they structure their UI? What features are
      available to the users? What are thier successes and pitfalls?
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/designlab/DL-competitoranalysis.png"
        target="_blank"
      >
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/DL-competitoranalysis.png"
        />
      </a>
    </div>
  </div>

  <div class="cotton-candy-bc w100 ptb50 mbot125">
    <h2 class="tac mbot10">Mapping and Flows</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        To figure out where the feature would exist on the site and how the
        users would interact with the feature; a site map and user flow was
        created.
      </p>
    </div>
  </div>

  <div class="m0a mbot125 plr151 plr20-mob mw1440">
    <p class="mbot50 pc">
      Though this deliverable may seem simplistic in nature (because it is), it
      was still important to understand where the feature would exist within the
      site. How would users navigate to their new virtual study rooms?
    </p>
    <div class="mbot50" fxLayout="row" fxLayoutAlign="center center">
      <a href="/assets/images/designlab/iterated-sitemap.png" target="_blank">
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/iterated-sitemap.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      I also needed to start thinking about how users would interact with the
      feature. What steps would users need to take...or expect to take? How can
      I simplify the use of this feature? Below is the user flow I created in
      order to better understand the overall flow of the feature.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/designlab/updated-DL-userflow.png"
        target="_blank"
      >
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/updated-DL-userflow.png"
        />
      </a>
    </div>
  </div>

  <div class="cotton-candy-bc w100 ptb50 mbot125">
    <h2 class="tac mbot10">Ideating</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        With a better understanding of the overall flow of the feature, I
        started to draft ideas. From sketches to mid and hifi wireframing;
        multiple versions were created.
      </p>
    </div>
  </div>

  <div class="m0a mbot125 plr151 plr20-mob mw1440">
    <p class="mbot50 pc">
      After research, I had multiple ideas and variations of the soon-to-be
      feature in mind. So, I grabbed a pencil and my trusty sketchpad and
      started sketching.
    </p>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <a
        href="/assets/images/designlab/updated-DL-userflow.png"
        target="_blank"
      >
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/updated-DL-userflow.png"
        />
      </a>
    </div>
  </div>

  <div class="m0a mbot125 plr151 plr20-mob mw1440">
    <p class="mbot50 pc">
      After sketching some variations, it was time to execute some mid-fi
      wireframes using Figma. The goal was to nail down the format, the content
      and what additional features would be necessary to meet users
      expectations.
    </p>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/designlab/V5.png" target="_blank">
        <img class="w100 mw1000" src="/assets/images/designlab/V5.png" />
      </a>
    </div>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/designlab/add-room-form.png" target="_blank">
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/add-room-form.png"
        />
      </a>
    </div>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/designlab/video-view.png" target="_blank">
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/video-view.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      Now that I had wireframes to work with, I needed to present and get more
      user feedback. With the open-ended interviews in the beginning being so
      insightful; I decided to to go full-circle and do it again. With a
      comprised list of what I wanted to assess, it was time to schedule the
      interviews.
    </p>
  </div>

  <div class="cotton-candy-bc w100 ptb50 mbot125">
    <h2 class="tac mbot10">Test and Implement</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        Open-ended interviews were done to assess certain features and overall
        flow. Based on feedback, a priority matrix was made and iterations were
        done accordingly.
      </p>
    </div>
  </div>

  <div class="mbot125 mw1440 m0a plr151 plr20-mob">
    <p class="mbot50 pc">
      My goal of the open-ended interviews was to get the end users initial
      thoughts and impressions as well as assess certain aspects of the site.
      For example, I wanted to know if the “Study stats” feature would be useful
      and/or delightful.
    </p>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/designlab/study-stats.png" target="_blank">
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/study-stats.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      After recieving all feedback of users, I comprised and organzied the
      findings and created a priority matrix. This really helped me visualize
      what was high priority in terms of what iterations needed to be done to
      finialize my hi-fi wireframes.
    </p>
    <div class="m0a mbot20" fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/designlab/updated-dl-priority-matrix.png"
        target="_blank"
      >
        <img
          class="mw1000 w100"
          src="/assets/images/designlab/updated-dl-priority-matrix.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      Now, it was time to execute. I implemented feedback that I recieved and
      iterated my mid-fi wireframes. After completing the final revisions, I
      annotated the screens for further clarity and for presentation purposes.
    </p>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/designlab/Annotated-DL-main.png" target="_blank">
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/Annotated-DL-main.png"
        />
      </a>
    </div>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a
        href="/assets/images/designlab/Annotated-DL-createaroom.png"
        target="_blank"
      >
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/Annotated-DL-createaroom.png"
        />
      </a>
    </div>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a
        href="/assets/images/designlab/Annotated-DL-feedback.png"
        target="_blank"
      >
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/Annotated-DL-feedback.png"
        />
      </a>
    </div>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a
        href="/assets/images/designlab/Annotated-DL-videoview.png"
        target="_blank"
      >
        <img
          class="w100 mw1000"
          src="/assets/images/designlab/Annotated-DL-videoview.png"
        />
      </a>
    </div>
  </div>

  <div class="mbot125 mw1440 m0a plr151 plr20-mob">
    <p class="mbot50 pc">
      With the design finalized, it only felt right for me to make a working
      prototype. The prototype was built to visually show how users would
      interact with the new feature.
    </p>
    <div class="mw1000 m0a mbot125">
      <iframe
        class="cp collectibles-blue-b3 w100"
        width="1000"
        height="1000"
        src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FjO3zpIb1pLodKY7f0dSt8R%2FCapstone-2%3Fnode-id%3D194%253A4371%26scaling%3Dscale-down%26page-id%3D194%253A4370"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="aero-bc w100 ptb50 mbot125">
    <h2 class="tac">Key Takeaways</h2>
  </div>

  <div class="m0a mbot125 plr151 plr20-mob mw1440">
    <p class="mbot50 pc">
      <i
        >Do not get ahead of yourself! I made noob move as a UX designer and
        came up with a “solution” before identifying and defining the problem. I
        thought with me being one of the end-users, I was fully aware of all the
        pain points us virtual students face. However, research proved me wrong
        in the best way possible and I was able to uncover a bigger, more
        blatant pain point. Which led me to identifying the problem of students
        not being satisfied with their current amount of student-to-student
        interaction. Case in point, identify and define the problem before
        coming up with “solutions”.
      </i>
    </p>
    <p class="mbot50 pc">
      <i>
        Feature creep is real and I definitely became a victim of it in this
        project. The task was to add a feature to an existing site and from the
        moment I started sketching; I was adding features within features
        without any research backing the need. If I could change one thing about
        my process, it would have done something like dot-voting during my
        ideating phase. This type of user feedback would have helped me better
        prioritize additional features.
      </i>
    </p>
    <p class="mbot50 pc">
      <i>
        Not all research uncovers something super insightful. Immediately after
        my ideating phase, I attempted A/B testing on varitions of my main
        screen. Though this testing told me that users prefer a “join” CTA
        button, it did not tell me much else. And that is okay! Little user
        insight is better than no user insight .
      </i>
    </p>
  </div>
</div>

<div class="mbot175" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="cotton-candy-bc mw400 p50 w100">
    <h3 class="mbot10 tac">Kaus</h3>
    <p class="mbot10 tac">
      Refreshing a brand and designing a responsive ecommerce insurance site.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="input2 cp" (click)="gotoUrl('/projects/kaus')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>
  <div class="cotton-candy-bc mw400 p50 w100">
    <h3 class="mbot10 tac">Case Study</h3>
    <p class="mbot10 tac">
      Refreshing a brand and designing a responsive ecommerce insurance site.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="input2 cp" (click)="gotoUrl('/projects/kaus')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>
</div>

<div *ngIf="windowScrolled" class="cotton-candy-bc backtotop">
  <svg
    (click)="scrollToTop()"
    width="38"
    height="32"
    viewBox="0 0 38 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20.7678 1.23223C19.7915 0.255922 18.2085 0.255922 17.2322 1.23223L1.32233 17.1421C0.346019 18.1184 0.346019 19.7014 1.32233 20.6777C2.29864 21.654 3.88155 21.654 4.85786 20.6777L19 6.53553L33.1421 20.6777C34.1184 21.654 35.7014 21.654 36.6777 20.6777C37.654 19.7014 37.654 18.1184 36.6777 17.1421L20.7678 1.23223ZM21.5 32L21.5 3L16.5 3L16.5 32L21.5 32Z"
      fill="black"
    />
  </svg>
</div>
