<div class="w100 p20 fixed" fxLayout="row" fxLayoutAlign="end center">
  <a class="mlr10" [class.active]="url === '/'" [class.normal]="url !== '/'"
    >Projects</a
  >
  <a
    class="mlr10"
    [class.active]="url === '/about'"
    [class.normal]="url !== '/about'"
    >About Me</a
  >
  <a
    class="mlr10"
    [class.active]="url === '/resume'"
    [class.normal]="url !== '/resume'"
    >Resume</a
  >
  <a
    class="mlr10"
    [class.active]="url === '/contact'"
    [class.normal]="url !== '/contact'"
    >Contact</a
  >
</div>
