<div class="mtop160 plr151 m0a mw1440">
  <div class="mw600">
    <h1>Hi there, I’m Wynter!</h1>
    <div class="mbot10">
      <span
        ><span class="strike-through"
          >Genius. Billionaire. Playboy. Philanthropist.</span
        >
        <span class="fuschia-c"> UX Designer.</span></span
      >
    </div>
    <div class="mbot10">
      <q>
        I am a UX Designer based in Kannapolis, NC. Creating fun and fresh
        user-centered designs is my super power.
      </q>
    </div>
  </div>

  <div class="trigger cp pr z1 w163 mbot125" (click)="gotoUrl('/contact')">
    <div class="input cp">
      <label class="cp">Contact Me!</label>
    </div>
    <div class="overlay cp"></div>
  </div>

  <div class="mbot50">
    <h2>Recent Works</h2>
  </div>

  <div class="cotton-candy-bc w100 h398 mbot50"></div>

  <div class="key-lime-bc w100 h398 mbot50"></div>

  <div class="aero-bc w100 h398 mbot50 plr150" fxLayout="row">
    <div class="w100" fxLayout="row" fxLayoutAlign="center center">
      <img
        class="w100 mr50"
        src="/assets/images/kaus/IteratedDesktopMockup.png"
      />
    </div>
    <div class="mlr10" fxLayout="column" fxLayoutAlign="center center">
      <h3>Kaus</h3>
      <p class="tac mbot10">
        Refreshing a brand and designing a responsive ecommerce insurance site.
      </p>
      <div class="input2 cp" (click)="gotoUrl('/projects/kaus')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>
</div>
