<div class="mtop100 mtop100-mob plr151 plr20-mob m0a mw1064">
  <div class="mw650">
    <h1>Hi there, I’m Wynter!</h1>
    <div class="mbot10">
      <span
        ><span class="strike-through"
          >Genius. Billionaire. Playboy. Philanthropist.</span
        >
        <span class="fuschia-c fwb"> UX Designer.</span></span
      >
    </div>
    <div class="mbot10">
      <q>
        I am a UX Designer based in Kannapolis, NC. Creating fun and fresh
        user-centered designs is my super power.
      </q>
    </div>
  </div>

  <div class="trigger cp pr z1 w163 mbot100" (click)="gotoUrl('/contact')">
    <div class="input cp">
      <label class="cp">Contact Me!</label>
    </div>
    <div class="overlay cp"></div>
  </div>

  <div class="mbot50">
    <h2>Recent Works</h2>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" class="w100 mbot25">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="box-hover blue-bell-bc p50 w50 w100-mob mr25 mr0-mob mbot25-mob"
    >
      <img
        class="w100"
        src="/assets/images/watchlist/c3-landing-cover-new.png"
      />
      <h3 class="tac">Watchlist</h3>
      <p class="tac mbot10">
        Designing a social application for entertainment lovers.
      </p>
      <div class="input2 cp" (click)="gotoUrl('/projects/watch-list')">
        <label class="cp">View Case Study</label>
      </div>
    </div>

    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="box-hover aero-bc p50 w50 w100-mob"
    >
      <img
        class="w100"
        src="/assets/images/collectibles/CG-landing-cover.png"
      />
      <h3 class="tac">Collectibles & Games</h3>
      <p class="tac mbot10">
        Creating an e-commerce site exlcusively for Yu-Gi-Oh hobbyist.
      </p>
      <div class="input2 cp" (click)="gotoUrl('/projects/collectibles')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" class="w100 mbot50">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="box-hover cotton-candy-bc p50 w50 w100-mob mr25 mr0-mob mbot25-mob"
    >
      <img
        class="w100"
        src="/assets/images/designlab/designlab-landing-cover.png"
      />
      <h3 class="tac">Design Lab</h3>
      <p class="tac mbot10">
        Virtual study room feature that allows for student-to-student
        interaction
      </p>
      <div class="input2 cp" (click)="gotoUrl('/projects/design-lab')">
        <label class="cp">View Case Study</label>
      </div>
    </div>

    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="box-hover key-lime-bc p50 w50 w100-mob"
    >
      <img class="w100" src="/assets/images/kaus/kaus-landing-cover.png" />
      <h3 class="tac">Kaus Insurance</h3>
      <p class="tac mbot10">
        Refreshing a brand and designing a resposnive e-commerce site.
      </p>
      <div class="input2 cp" (click)="gotoUrl('/projects/kaus')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>
</div>
