<div class="mtop160 mtop100-mob plr151 plr20-mob m0a mw1440">
  <div class="mw650">
    <h1>Hi there, I’m Wynter!</h1>
    <div class="mbot10">
      <span
        ><span class="strike-through"
          >Genius. Billionaire. Playboy. Philanthropist.</span
        >
        <span class="fuschia-c fwb"> UX Designer.</span></span
      >
    </div>
    <div class="mbot10">
      <q>
        I am a UX Designer based in Kannapolis, NC. Creating fun and fresh
        user-centered designs is my super power.
      </q>
    </div>
  </div>

  <div class="trigger cp pr z1 w163 mbot125" (click)="gotoUrl('/contact')">
    <div class="input cp">
      <label class="cp">Contact Me!</label>
    </div>
    <div class="overlay cp"></div>
  </div>

  <div class="mbot50">
    <h2>Recent Works</h2>
  </div>

  <!-- <div class="cotton-candy-bc w100 h398 mbot50 w80-mob ml20-mob h200-mob"></div> -->

  <div
    class="key-lime-bc w100 h398 mbot50 plr150 w80-mob ml20-mob h200-mob"
    fxLayout="row"
  >
    <div
      class="mlr10 mr50 hide-mob"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <h3 class="tac">Collectibles & Games</h3>
      <p class="tac mbot10">Designing a Responsive Ecommerce Site</p>
      <div class="input2 cp" (click)="gotoUrl('/projects/collectibles')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
    <div class="w100" fxLayout="row" fxLayoutAlign="center center">
      <img
        class="w50 w200-mob pal20-mob"
        src="/assets/images/collectibles/CG-desktop-mockup.png"
      />
    </div>
  </div>

  <div class="hide-desk ml20-mob mbot50-mob">
    <h3>Collectibles & games</h3>
    <p class="tac mbot10 tal-mob">Designing a Responsive Ecommerce Site</p>
    <div class="input2 cp" (click)="gotoUrl('/projects/collectibles')">
      <label class="cp">View Case Study</label>
    </div>
  </div>

  <div
    class="aero-bc w100 h398 mbot50 plr150 w80-mob ml20-mob h200-mob"
    fxLayout="row"
  >
    <div class="w100" fxLayout="row" fxLayoutAlign="center center">
      <img
        class="w50 mr50 w200-mob pal20-mob"
        src="/assets/images/kaus/UpdatedKausDesktop.png"
      />
    </div>
    <div class="mlr10 hide-mob" fxLayout="column" fxLayoutAlign="center center">
      <h3>Kaus</h3>
      <p class="tac mbot10">
        Refreshing a brand and designing a responsive ecommerce insurance site.
      </p>
      <div class="input2 cp" (click)="gotoUrl('/projects/kaus')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>

  <div class="hide-desk ml20-mob mbot50-mob">
    <h3>Kaus</h3>
    <p class="tac mbot10 tal-mob">
      Refreshing a brand and designing a responsive ecommerce insurance site.
    </p>
    <div class="input2 cp" (click)="gotoUrl('/projects/kaus')">
      <label class="cp">View Case Study</label>
    </div>
  </div>

  <div
    class="key-lime-bc w100 h398 mbot50 plr150 w80-mob ml20-mob h200-mob"
    fxLayout="row"
  >
    <div
      class="mlr10 mr50 hide-mob"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <h3 class="tac">Design Lab</h3>
      <p class="tac mbot10">
        Adding a new interactive feature to an existing site
      </p>
      <div class="input2 cp" (click)="gotoUrl('/projects/design-lab')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
    <div class="w100" fxLayout="row" fxLayoutAlign="center center">
      <img
        class="w50 w200-mob pal20-mob"
        src="/assets/images/designlab/DL-main-mockup.png"
      />
    </div>
  </div>

  <div class="hide-desk ml20-mob mbot50-mob">
    <h3>Design Lab</h3>
    <p class="tac mbot10 tal-mob">
      Adding a new interactive feature to an existing site
    </p>
    <div class="input2 cp" (click)="gotoUrl('/projects/design-lab')">
      <label class="cp">View Case Study</label>
    </div>
  </div>

  <div
    class="blue-bell-bc w100 h398 mbot50 plr150 w80-mob ml20-mob h200-mob"
    fxLayout="row"
  >
    <div class="w100" fxLayout="row" fxLayoutAlign="center center">
      <img
        class="w100 pal20-mob"
        src="/assets/images/watchlist/c3-cover-update.png"
      />
    </div>
    <div class="mlr10 hide-mob" fxLayout="column" fxLayoutAlign="center center">
      <h3>Watchlist</h3>
      <p class="tac mbot10">Designing an end-to-end application</p>
      <div class="input2 cp" (click)="gotoUrl('/projects/watch-list')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>

  <div class="hide-desk ml20-mob mbot50-mob">
    <h3>Watchlist</h3>
    <p class="tac mbot10 tal-mob">Designing an end-to-end application</p>
    <div class="input2 cp" (click)="gotoUrl('/projects/watch-list')">
      <label class="cp">View Case Study</label>
    </div>
  </div>
</div>
