<div class="mtop160 plr10 m0a mw1440">
  <div class="aero-bc w100 h398 mbot50"></div>
  <div class="mw1000 m0a">
    <h1 class="mbot50">Kaus: Designing a responsive ecommerce site</h1>
    <div class="w100" fxLayout="row" fxLayoutAlign="space-between start">
      <div class="w50 mw900 mbot50 mr150" fxLayout="column">
        <span>OVERVIEW</span>
        <p class="mbot10">
          Kaus has been in the insurance business for 30 years and provides all
          types of insurance for individuals. They currently work on a B2B
          environment through regional agents to sell their product.
        </p>
        <p>
          Kaus wants to move from a B2B enviorment to a B2C environment. They
          want to pivot to the digital space, refresh their brand, and tap into
          the younger market.
        </p>
      </div>
      <div class="w50 mw900 mbot50" fxLayout="column">
        <span>ROLE</span>
        <p class="mbot10">User Research, Interaction, Visual Designer</p>
        <p class="mbot10">Prototyping and Testing</p>
        <p>FEBRUARY 2021 - APRIL 2021</p>
      </div>
    </div>
    <h2 class="mbot50">The Process</h2>
    <img src="" />
  </div>

  <div class="aero-bc w100 mbot50 ptb50">
    <h2 class="tac mbot10">Research</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a">
        Competitor Analysis, Surveys, and Interviews were done to better
        understand industry standards, the clients, and most importantly the
        user.
      </p>
    </div>
  </div>

  <div class="mbot50">
    <p>
      I started the research process by conducted a competitor analysis. This
      was crucial since I am not a SME in the insurance space. This aided in
      understanding industry standards and expectations.
    </p>
    <img src="" />
  </div>

  <div class="mbot50">
    <p>
      After educating myself in the insurance space, I then moved onto surveying
      and conducting interviews. The main goal was tounderstad and empathize
      with the user. To do this, I needed to know what pain points users
      encounter when shopping and purchasing insurance. What main factors
      contribute to their decision making? How can we as a company improve the
      overall user experience?
    </p>
    <img src="" />
  </div>

  <div class="mbot50">
    <p>
      Through the reasearch, I was able to identify three personas. The
      first-time buyer, the middle class working parent, and the tech impaired.
      Since, the objective was to target the younger demographic, I focused on
      the first-time buyer and middle class working parent. Matthew Young was
      then created to further indentify with the users.
    </p>
    <img src="" />
  </div>

  <div class="aero-bc w100 mbot50 ptb50">
    <h2 class="tac mbot10">Information Architecture</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a">
        A card sorting activity was done with users to find the best way to
        organize the content on the site. A site map was created based on
        findings of the card sorting.
      </p>
    </div>
  </div>

  <div class="mbot50">
    <p>
      Once the user had been established and the needs, wants, and wishes of the
      user had been identified-it was time to craft the information architecture
      of the site. I began by revisiting my research notes and the direct
      competitors sites. Since one of the main goals of the users was “ease of
      browsablility”, it was crucial that I let potential users be a part of
      this process. To include them, I conducted a card sorting activity.
    </p>
    <img src="" />
  </div>

  <div class="mbot50">
    <p>
      Taking what was discovered through the card sorting activity-it was time
      to create a site map. After quantifying the results, I knew I would have
      two main navigations for ease of browsability. Additionally, some content
      like “Umbrella Insurance” would have to be under more than one category.
      This was due to a lack of consensus from users on how that should be
      categorized.
    </p>
    <img src="" />
  </div>

  <div class="aero-bc w100 mbot50 ptb50">
    <h2 class="tac mbot10">Interaction Design</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a">
        User and task flows were created to better understand the interaction
        between the user and the site. Responsive wireframes were then drafted
        based off the flows.
      </p>
    </div>
  </div>

  <div class="mbot50">
    <p>
      User flows and task flows were created to further develop what pages and
      forms would need to be created for the site.
    </p>
    <img src="" />
    <img src="" />
  </div>

  <div class="mbot50">
    <p>
      With a better understanding of the interaction between our user and our
      product-it was time to draft responsive wireframes. With our persona in
      mind, I knew I wanted to keep the design straight-forward and easy to
      navigate.
    </p>
    <img src="" />
  </div>

  <div class="aero-bc w100 mbot50 ptb50">
    <h2 class="tac mbot10">User Interface Design</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a">
        Responsive logos, a style tile, and UI kit were created to establish
        Kauses brand identity. Responsive designs were then created to bring the
        brand vision to life.
      </p>
    </div>
  </div>

  <div class="mbot50">
    <p>
      Brand refreshment was one of the main objectives of this project. Kaus
      realyed that they wanted their brand to have a modern, fresh, and
      trustworthy feel. Therefore, I set out to find colors, typography, and
      illustrations that embodied those keywords.
    </p>
    <img src="" />
  </div>

  <div class="mbot50">
    <p>
      Now that the brand colors, typography and componenets were chosen and
      built out- it was time to bring the vision to life! It was time to create
      high fidelity responsive wireframes.
    </p>
    <img src="" />
  </div>

  <div class="aero-bc w100 mbot50 ptb50">
    <h2 class="tac mbot10">Iterate and Implement</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a">
        A prototype was created and user testing was completed with four
        participants. An affinity map was made based off of their feedback. The
        affinity map aided in establishing priority revisions.
      </p>
    </div>
  </div>

  <div class="mbot50">
    <p>
      User testing was conducted once I finalized the prototype. I focused on
      the “Get a Quote” task since that is the primary user action on insurance
      sites. Users were given the prompt: “You recently bought a car and want to
      obtain a quote from Kaus”. Based off the user testing, I created an
      affinity map to aid in priority revisions.
    </p>
    <img src="" />
    <img src="" />
  </div>

  <div class="mbot50">
    <p>
      Once priority revisions were established, it was time to iterate and
      finalize my designs.
    </p>
  </div>
</div>
