<div class="mtop160 mtop100-mob w100 m0a">
  <div class="mbot100 plr20-mob mw1064 mbot50-mob m0a">
    <div
      class="blue-bell-bc w100 p20"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <img
        class="w50 w35-mob p10-mob"
        src="/assets/images/watchlist/c3-landing-cover-new.png"
      />
    </div>
  </div>

  <div class="mw1064 m0a mbot100 plr151 plr20-mob">
    <h1 class="mbot10">Watchlist:</h1>
    <h1 class="mbot50 black-ink-200-c">
      Creating a social media platform for entertainment lovers.
    </h1>
    <div
      class="w100 mbot100"
      fxLayout="row"
      fxLayoutAlign="space-between start"
    >
      <div class="w100 mw900 mr150 mr0-mob" fxLayout="column">
        <h3 class="mbot10">Overview:</h3>
        <p class="mbot10">
          With a surge of streaming services and media titles, people are
          experiencing difficulty keeping track of their watchlists. Due to
          endless selections, people are also struggling with deciding what to
          watch next. Research has shown that many rely on friends and family
          recommendations when deciding on what to watch. So, what if there was
          an app that let people catalog and share their watchlist
          recommendations with family and friends.
        </p>
        <h3 class="mbot10">The problem:</h3>
        <p class="mbot10">
          People are having difficulty keeping track of their media consumption
          as well as what they should watch next. There is also a need for an
          app that allows entertainment lovers to share watchlists and
          recommendations with friends and family.
        </p>
        <h3 class="mbot10">The solution:</h3>
        <p class="mbot10">
          Create an application with a distinct brand identity where
          entertainment lovers can catalog and share their watchlists
          recommendations with others.
        </p>
        <h3>Role:</h3>
        <span class="h3 fuschia-c"> UX Designer</span>
      </div>
    </div>
  </div>

  <div class="blue-bell-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Research</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        Create an application with a distinct brand identity where entertainment
        lovers can catalog and share their watchlists recommendations with
        others.
      </p>
    </div>
  </div>

  <div class="m0a mbot50 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      A survey was crafted and distributed to 35 participants via Google Forms
      to get a basic understanding of user media consumption habits. The two
      goals were to identify and define the problem and gauge user interest.
    </p>

    <div
      class="w100 mbot25"
      fxLayout="column
    "
      fxLayoutAlign="center center"
    >
      <a
        class="w50 mr25 mr0-mob"
        href="/assets/images/watchlist/pie-chart-one.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/pie-chart-one.png"
        />
      </a>
      <a
        class="w50"
        href="/assets/images/watchlist/pie-chart-two.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/pie-chart-two.png"
        />
      </a>
    </div>
    <div
      class="w100"
      fxLayout="column
    "
      fxLayoutAlign="center center"
    >
      <a
        class="w50 mr25 mr0-mob"
        href="/assets/images/watchlist/pie-chart-three.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/pie-chart-three.png"
        />
      </a>
      <a
        class="w50"
        href="/assets/images/watchlist/pie-chart-four.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/pie-chart-four.png"
        />
      </a>
    </div>
  </div>

  <div class="m0a mbot50 plr151 plr20-mob mw1064">
    <p class="mbot100 pc">
      Reported pain points from participants centered around “the
      decision-making process in general.”Results also showed that mood (85%)
      and recommendations from friends and family (80%) were the two main
      factors in the decision-making process.
    </p>
    <p class="mbot50 pc">
      Now that I knew users’ pain points, interest level, and media consumption
      habits-it was time to scope out what exisiting solutions.
    </p>
    <div
      class="companal-box-hover"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div
        class="cb-step1 mbot50-mob"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <a
          href="/assets/images/watchlist/C3-competitor-analysis-final.png"
          target="_blank"
        >
          <img
            class="w100 mw1064"
            src="/assets/images/watchlist/C3-competitor-analysis-final.png"
          />
        </a>
      </div>
      <div class="cb-step2" fxLayout="row" fxLayoutAlign="center center">
        <a
          href="/assets/images/watchlist/C3-competitor-analysis-final-two.png"
          target="_blank"
        >
          <img
            class="w100 mw1064"
            src="/assets/images/watchlist/C3-competitor-analysis-final-two.png"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot100 pc">
      A notable finding from the analysis was that most of these applications
      had a social aspect to them. However, it was not the primary focus or
      function. This finding led to what my unique selling proposition (USP)
      would be for Watchlist.
    </p>
    <p class="mbot50 pc">
      During the user interviews, I had participants review the app Goodreads.
      Participants' feedback helped me scope out features and UI patterns users
      would like to see in a similar application.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <a
        href="/assets/images/watchlist/C3-interview-research-notes.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/C3-interview-research-notes.png"
        />
      </a>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      With all the research synthesized, it was time to craft a user persona. I
      would be referring back to Emily Wilson throughout my design.
    </p>
    <div class="mbot50" fxLayout="row" fxLayoutAlign="center center">
      <a href="/assets/images/watchlist/C3-final-persona.png" target="_blank">
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/C3-final-persona.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      Emily’s goal of sharing ratings/reviews with friends and family and one of
      her key motivators being recommendations- I knew that I had to focus on
      the social aspect of this design.
    </p>
  </div>

  <div class="blue-bell-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Mapping and Flows</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        With this being an end-to-end application, I needed to determine the
        information architecture and what pages I would need for an MVP.
        Therefore, I created a site map and a user flow.
      </p>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      Referring back to my research, I knew that this application had to
      emphasize the social network aspect. Due to this, I referenced social
      media platforms and came up with a site map that resembled what the
      end-users already use and know.
    </p>
    <div class="mbot100" fxLayout="row" fxLayoutAlign="center center">
      <a href="/assets/images/watchlist/C3-sitemap.png" target="_blank">
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/C3-sitemap.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      Now having a sound grasp on what pages were needed for an MVP, I needed to
      create a user task flow. I had to uncover the different interactions users
      could take to add a media title to their watchlist and lead to posting on
      their social feed.
    </p>
    <div
      class="w100 m0a"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <div class="w100" fxLayout="row" fxLayoutAlign="center center">
        <a href="/assets/images/watchlist/v3-userflow.png" target="_blank">
          <img
            class="w100 mw1064"
            src="/assets/images/watchlist/v3-userflow.png"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="blue-bell-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Ideating</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        With one of the business goals being to establish a brand identity, I
        needed to determine brand colors, typography, and the overall look and
        feel of the application. This led to lo-fi wireframing and a UI kit.
      </p>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      For the lo-fi wireframing, I wanted to create the four main screens of the
      application. I primarily pulled inspiration from Pinterest, Instagram,
      Goodreads, and Likewise. Lo-fi wireframing helped me start the build of
      the UI kit.
    </p>
    <div fxLayout="column" fxLayoutAlign="center center">
      <a
        class="mbot50"
        href="/assets/images/watchlist/annotated-wireframes-one.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/annotated-wireframes-one.png"
        />
      </a>
      <a
        href="/assets/images/watchlist/annotated-wireframes-two.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/annotated-wireframes-two.png"
        />
      </a>
    </div>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      Once I had the basis of what I wanted the app to look like, I need to name
      the brand I was designing. I grabbed my sketch pad started jotting down
      ideas and sketches. Then I made the mockups below.
    </p>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/watchlist/V1-C3-tested-logos.png" target="_blank">
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/V1-C3-tested-logos.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      After making the mockups, I still struggled with making a final decision.
      And when in doubt, I go back to the users and ask for their thoughts. I
      made a quick Google survey and asked users to vote on which name idea they
      liked best.
    </p>
    <div
      class="mbot100"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a href="/assets/images/watchlist/tested-logos-graph.png" target="_blank">
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/tested-logos-graph.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      As I continued to make variations and iterations on the logo, I decided to
      build out the rest of the UI kit. This led to pouring over color choices
      and scouring hundreds of fonts. I knew that I wanted Watchlist to be
      clean, cool, direct, and sleek.
    </p>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <a
        href="/assets/images/watchlist/C3-ui-kit-portfolio.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/C3-ui-kit-portfolio.png"
        />
      </a>
    </div>
  </div>

  <div class="blue-bell-bc w100 ptb50 mbot100">
    <h2 class="tac mbot10">Test and Implement</h2>
    <div class="w100 m0a">
      <p class="tac mw900 m0a plr20-mob">
        A prototype was built using Figma and tested with users. Based on user
        testing results, iterations were made to the wireframes.
      </p>
    </div>
  </div>

  <div class="mbot50 mw1064 m0a plr151 plr20-mob">
    <p class="mbot50 pc">
      Using Figma, I built out a prototype that would assess the overall
      effectiveness of the design. Once I had all the results, I quantified and
      synthesized my data. The results aided in prioritizing revisions. Below is
      the data chart.
    </p>
    <div
      class="mbot50"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a
        href="/assets/images/watchlist/C3-usertest-findings-final.png"
        target="_blank"
      >
        <img
          class="w100 mw1064"
          src="/assets/images/watchlist/C3-usertest-findings-final.png"
        />
      </a>
    </div>
    <p class="mbot50 pc">
      Below is an updated prototype. See if you can complete the four tasks the
      users were given during user testing in the chart above.
    </p>
    <div class="mw1064 m0a mbot100">
      <iframe
        class="cp collectibles-blue-b3 w100"
        width="1000"
        height="1000"
        src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FULyknylz7I3zG1fhEy71xa%2FCapstone-3%3Fnode-id%3D166%253A3774%26scaling%3Dscale-down%26page-id%3D166%253A3725%26starting-point-node-id%3D166%253A3774%26show-proto-sidebar%3D1"
        allowfullscreen
      ></iframe>
    </div>
    <p class="mbot50 pc">
      With the help of user and peer feedback, I was able to finalize my hi-fi
      screens. Below are a few device mockups of the final designs.
    </p>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <div
      class="mbot50 w100"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <div class="w50 mr150 mr0-mob" fxLayout="column">
        <a
          class="m0a"
          href="/assets/images/watchlist/new-social-mockup.png"
          target="_blank"
        >
          <img
            class="w265"
            src="/assets/images/watchlist/new-social-mockup.png"
          />
        </a>

        <h5>
          The social feed is the landing screen. Users could navigate to
          friends’ profile pages and view detailed info of the media titles
          displayed in posts (by clicking on the title or thumbnail). The CTA
          allows users to add media titles to their watchlists.
        </h5>
      </div>
      <div class="w50" fxLayout="column">
        <a
          class="m0a"
          href="/assets/images/watchlist/explore-mockup.png"
          target="_blank"
        >
          <img
            class="w265 m0a"
            src="/assets/images/watchlist/explore-mockup.png"
          />
        </a>

        <h5>
          In the previous mockup, the CTA had a drop-down function. The results
          from user testing found the original CTA “unexpected” and “slightly
          confusing”. I simplified CTA and added a simple banner for a better
          user experience.
        </h5>
      </div>
    </div>

    <div
      class="mbot50 w100"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <div class="w50 mr150 mr0-mob" fxLayout="column">
        <a
          class="m0a"
          href="/assets/images/watchlist/profile-activity-mockup.png"
          target="_blank"
        >
          <img
            class="w265"
            src="/assets/images/watchlist/profile-activity-mockup.png"
          />
        </a>

        <h5>
          When navigating to a profile, the users would see recent activity.
          Similar to other social media platforms. Whether that activity is
          rating a media title, adding a friend, or adding a media title to a
          watchlist.
        </h5>
      </div>
      <div class="w50" fxLayout="column">
        <a
          class="m0a"
          href="/assets/images/watchlist/profile-watchlist-mockup.png"
          target="_blank"
        >
          <img
            class="w265 m0a"
            src="/assets/images/watchlist/profile-watchlist-mockup.png"
          />
        </a>

        <h5>
          Using the tab, users could view watchlists. Research suggested having
          preset curated lists (watched, currently watching, and want to watch).
          Users would also have the ability to create their own list.
        </h5>
      </div>
    </div>

    <div
      class="mbot50 w100"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <div class="w50 mr150 mr0-mob" fxLayout="column">
        <a
          class="m0a"
          href="/assets/images/watchlist/user-watchlist-mockup.png"
          target="_blank"
        >
          <img
            class="w265"
            src="/assets/images/watchlist/user-watchlist-mockup.png"
          />
        </a>

        <h5>
          This screen is the view within a watchlist category. Users would have
          the ability to filter within the list as well as edit their listings.
          If the user viewing this list is not the user of the profile-the
          primary CTA “add to watchlist” would be present.
        </h5>
      </div>
      <div class="w50" fxLayout="column">
        <a
          class="m0a"
          href="/assets/images/watchlist/detailed-info-mockup.png"
          target="_blank"
        >
          <img
            class="w265 m0a"
            src="/assets/images/watchlist/detailed-info-mockup.png"
          />
        </a>

        <h5>
          This screen is the detailed media info. In the previous design, the
          screen lacked a review section. Nor was there a banner and the navbar
          was present. Changes were made to include reviews, a banner, and
          exclude the navbar.
        </h5>
      </div>
    </div>
    <!--
    <div
      class="mbot50 w100"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <div class="w29 mr150 mr0-mob">
        <a
          href="/assets/images/watchlist/profile-activity-mockup.png"
          target="_blank"
        >
          <img src="/assets/images/watchlist/profile-activity-mockup.png" />
        </a>
      </div>
      <div class="w29 mr150 mr0-mob">
        <a
          href="/assets/images/watchlist/profile-watchlist-mockup.png"
          target="_blank"
        >
          <img src="/assets/images/watchlist/profile-watchlist-mockup.png" />
        </a>
      </div>
    </div>

    <div
      class="mbot50 w100"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a
        href="/assets/images/watchlist/user-watchlist-mockup.png"
        target="_blank"
      >
        <img
          class="w66 mr25 mr0-mob mw1064"
          src="/assets/images/watchlist/user-watchlist-mockup.png"
        />
      </a>
      <a href="/assets/images/watchlist/explore-mockup.png" target="_blank">
        <img
          class="w66 mw1064"
          src="/assets/images/watchlist/explore-mockup.png"
        />
      </a>
    </div>

    <div
      class="mbot50 w100"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <a
        href="/assets/images/watchlist/deatiled-info-mockup.png"
        target="_blank"
      >
        <img
          class="w66 mr25 mr0-mob mw1064"
          src="/assets/images/watchlist/deatiled-info-mockup.png"
        />
      </a>
      <a href="/assets/images/watchlist/add-menu-mockup.png" target="_blank">
        <img
          class="w66 mr25 mr0-mob mw1064"
          src="/assets/images/watchlist/add-menu-mockup.png"
        />
      </a>
      <a href="/assets/images/watchlist/add-post-mockup.png" target="_blank">
        <img
          class="w66 mw1064"
          src="/assets/images/watchlist/add-post-mockup.png"
        />
      </a>
    </div> -->
  </div>

  <div class="blue-bell-bc w100 ptb50 mbot100">
    <h2 class="tac">Key Takeaways</h2>
  </div>

  <div class="m0a mbot100 plr151 plr20-mob mw1064">
    <p class="mbot50 pc">
      <i
        >When working on a problem with existing solutions, figuring out a USP
        is essential. I was able to identify the USP by researching existing
        solutions and conducting an analysis.
      </i>
    </p>
    <p class="mbot50 pc">
      <i>
        When figuring out what screens are necessary for an MVP, refer to site
        maps and user flows. With that said, do not undervalue the importance of
        site maps and/or user flows. Not only do they aid in understanding user
        interaction but in prioritization too.
      </i>
    </p>
  </div>
</div>

<div class="mbot175" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="blue-bell-bc mw400 p50 w100">
    <h3 class="mbot10 tac">Kaus</h3>
    <p class="mbot10 tac">
      Refreshing a brand and designing a responsive ecommerce insurance site.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="input2 cp" (click)="gotoUrl('/projects/kaus')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>
  <div class="blue-bell-bc mw400 p50 w100">
    <h3 class="mbot10 tac">Case Study</h3>
    <p class="mbot10 tac">
      Refreshing a brand and designing a responsive ecommerce insurance site.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="input2 cp" (click)="gotoUrl('/projects/kaus')">
        <label class="cp">View Case Study</label>
      </div>
    </div>
  </div>
</div>

<div *ngIf="windowScrolled" class="blue-bell-bc backtotop">
  <svg
    (click)="scrollToTop()"
    width="38"
    height="32"
    viewBox="0 0 38 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20.7678 1.23223C19.7915 0.255922 18.2085 0.255922 17.2322 1.23223L1.32233 17.1421C0.346019 18.1184 0.346019 19.7014 1.32233 20.6777C2.29864 21.654 3.88155 21.654 4.85786 20.6777L19 6.53553L33.1421 20.6777C34.1184 21.654 35.7014 21.654 36.6777 20.6777C37.654 19.7014 37.654 18.1184 36.6777 17.1421L20.7678 1.23223ZM21.5 32L21.5 3L16.5 3L16.5 32L21.5 32Z"
      fill="black"
    />
  </svg>
</div>
