/* You can add global styles to this file, and also import other style files */

:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

h1 {
  margin: 10px 0;
}

p {
  margin: 0;
}

.b {
  font-weight: bold !important;
}

.backtotop {
  opacity: 0.75;
  width: 75px;
  height: 75px;
  display: flex;
  place-content: center;
  align-items: center;
  border-radius: 100%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.box-hover {
  width: 398px;
  height: 522px;
  &:hover {
    & img {
      display: none;
    }
  }
}

.cp {
  cursor: pointer;
}

.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
}

.fs14 {
  font-size: 14px !important;
}

.fwb {
  font-weight: bold;
}

.h398 {
  height: 398px;
}

.kaus-blue-b3 {
  border: 3px solid #5574f9;
}

.collectibles-blue-b3 {
  border: 3px solid #116fb4;
}

.m0a {
  margin: 0 auto;
}

.mbot-50 {
  margin-bottom: -50px;
}

.mbot10 {
  margin-bottom: 10px;
}

.mbot25 {
  margin-bottom: 25px;
}

.mbot50 {
  margin-bottom: 50px;
}

.mbot125 {
  margin-bottom: 125px;
}

.mbot175 {
  margin-bottom: 175px;
}

.mob-menu {
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  margin-left: 20%;
}

.mob-menu-c {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.7);
}

.mlr10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mr-20 {
  margin-right: -20px;
}

.mr25 {
  margin-right: 25px;
}

.mr50 {
  margin-right: 50px;
}

.mr150 {
  margin-right: 150px;
}

.mtop-50 {
  margin-top: -50px;
}

.mtop8 {
  margin-top: 8px;
}

.mtop160 {
  margin-top: 160px;
}

.mw400 {
  max-width: 400px;
}

.mw600 {
  max-width: 600px;
}

.mw650 {
  max-width: 650px;
}

.mw900 {
  max-width: 900px;
}

.mw1064 {
  max-width: 1064px;
}

.ofc {
  object-fit: contain;
}

.p20 {
  padding: 20px;
}

.p50 {
  padding: 50px;
}

.p100 {
  padding: 100px;
}

.ptb50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.plr151 {
  padding-left: 151px;
  padding-right: 151px;
}

.plr150 {
  padding-left: 150px;
  padding-right: 150px;
}

.pr {
  position: relative;
}

.tac {
  text-align: center;
}

.tsx-1 {
  transform: scaleX(-1);
}

.vam {
  vertical-align: middle;
}

.w15 {
  width: 15%;
}

.w20 {
  width: 20%;
}

.w29 {
  width: 29%;
}

.w45 {
  width: 45%;
}

.w50 {
  width: 50%;
}

.w66 {
  width: 66%;
}

.w100 {
  width: 100%;
}

.w163 {
  width: 163px;
}

.w265 {
  width: 265px;
}

.wg40 {
  width: 40px;
  height: 40px;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

@media screen and (max-width: 959px) {
  .box-hover {
    height: 100%;
  }

  .h200-mob {
    height: 200px;
  }

  .hide-mob {
    display: none !important;
  }

  .mbot25-mob {
    margin-bottom: 25px;
  }

  .mbot50-mob {
    margin-bottom: 50px;
  }

  .ml20-mob {
    margin-left: 20%;
  }

  .mr0-mob {
    margin-right: 0;
  }

  .mr20-mob {
    margin-right: 20%;
  }

  .mtop100-mob {
    margin-top: 100px;
  }

  .p10-mob {
    padding: 10px;
  }

  .pal20-mob {
    position: absolute;
    left: 20px;
  }

  .plr20-mob {
    padding-left: 20px;
    padding-right: 20px;
  }

  .tal-mob {
    text-align: left;
  }

  .w35-mob {
    width: 35%;
  }

  .w50-mob {
    width: 50%;
  }

  .w80-mob {
    width: 80%;
  }

  .w100-mob {
    width: 100%;
  }

  .w200-mob {
    width: 200px;
  }

  .wh20-mob {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 960px) {
  .hide-desk {
    display: none !important;
  }

  .box-hover {
    &:not(:hover) {
      & h3,
      p,
      div {
        display: none;
      }
    }
  }
}
